<%= link_to edition.past? ? edition_summary_path(edition) : edition_path(edition), class: "block" do %>
  <article class="mb-4 bg-white p-6 flex flex-col justify-between shadow-sm rounded hover:shadow-lg transition-shadow">
    <header class="mb-4">
      <h2 class="text-xs uppercase mb-2"><%= edition.name %></h2>
      <h1 class="font-semibold text-xl"><%= edition.code %></h1>
      <div>
        <time datetime="<%= edition.start_date.to_date %>" class="text-sm"><%= edition.start_date.strftime("%b %d, %Y") %></time>
        <span class="text-sm"> --> </span>
        <time datetime="<%= edition.end_date.to_date %>" class="text-sm"><%= edition.end_date.strftime("%b %d, %Y") %></time>
      </div>
    </header>
    <ul class="text-xs flex justify-between">
      <li class="mr-1 px-2 py-1 bg-indigo-500 text-white rounded"><strong><%= edition.critics.count %></strong> Critics</li>
      <li class="mr-1 px-2 py-1 bg-violet-500 text-white rounded"><strong><%= edition.categories.count %></strong> Categories</li>
      <li class="mr-1 px-2 py-1 bg-fuchsia-500 text-white rounded"><strong><%= edition.films.count %></strong> Films</li>
      <li class="px-2 py-1 bg-teal-500 text-white rounded"><strong><%= edition.ratings.count %></strong> Ratings</li>
    </ul>
  </article>
<% end %>
