<%= render partial: "shared/edition_nav", locals: { edition: @edition } %>

<% title("Live ratings for #{@edition.name}") %>
<% description(@edition.current? ? "Live ratings for #{@edition.code}" : "Rating chronology for #{@edition.code}") %>
<% open_graph(@edition) %>

<div <%= "data-controller=refresh" if @edition.current? %>>
  <header class="p-4 text-left w-full">
    <div class="">
      <div>
        <h2 class="font-normal text-xs uppercase"><%= @edition.name %></h2>
        <h1 class="font-semibold text-2xl"><%= @edition.code %></h1>
        <p class="mt-1 text-sm">Ratings are out of 5.0</p>
        <% if @edition.current? %>
          <p class="mt-2 text-sm">This page will update automatically when new ratings are added</p>
        <% else %>
          <p class="mt-2 p-2 font-semibold text-center leading-tight rounded-sm bg-[repeating-linear-gradient(-45deg,#e0e7ff_0px,#e0e7ff_4px,#eef2ff_4px,#eef2ff_8px)]">This festival is not currently in progress, so this view won't update automatically</p>
        <% end %>
      </div>
    </div>
  </header>

  <ul class="mx-4 md:grid md:grid-cols-5 md:gap-2">
    <%= render @ratings %>
  </ul>
</div>
