<% description("Grid of critic ratings for #{@edition.code}") %>
<% open_graph(@edition) %>

<%= render partial: "shared/edition_nav", locals: { edition: @edition } %>

<div class="overflow-x-auto overflow-y-scroll h-[calc(100vh-4.375rem)] w-full">
  <%= turbo_frame_tag "edition-ratings" do %>
    <header class="p-4 text-left w-full sticky top-0 left-0">
      <div class="flex justify-between">
        <div>
          <h2 class="font-normal text-xs uppercase"><%= @edition.name %></h2>
          <h1 class="font-semibold text-2xl"><%= @edition.code %></h1>
          <p class="mt-1 text-sm">Ratings are out of 5.0</p>
        </div>
        <div class="text-right">
          <% if params[:critics].present? %>
            <p class="text-xs">Currently hiding <strong><%= pluralize(params[:critics].size, "critic")%></strong></p>
            <p class="text-xs"><%= link_to "Reset critic filter", edition_path(@edition), data: { "turbo-action": "advance" }, class: "underline mt-1 inline-block" %></p>
          <% end %>
        </div>
      </div>
      <% if @edition.ratings.any? %>
        <div class="mt-2 flex gap-4 items-center">
          <% if params[:saf] == "false" || (params[:saf].nil? && @edition.current?) %>
            <p class="text-sm font-semibold">Only showing films with ratings</p>
            <%= link_to "Show all films", edition_path(@edition, request.query_parameters.merge(saf: true)), data: { "turbo-action": "advance" }, class: "inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded-sm text-xs" %>
          <% elsif params[:saf] == "true" || params[:saf].nil? %>
            <p class="text-sm font-semibold">Showing all films</p>
            <%= link_to "Only show films with ratings", edition_path(@edition, request.query_parameters.merge(saf: false)), data: { "turbo-action": "advance" }, class: "inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded-sm text-xs" %>
          <% end %>
        </div>
      <% end %>
    </header>

    <table class="border-separate border-spacing-0 bg-white table-fixed w-full overflow-clip">
      <thead class="">
        <tr class="">
          <th scope="col" class="border border-indigo-100 p-2 sticky top-0 left-0 z-20 bg-white w-[33vw] md:w-36 h-48">Film</th>
          <th scope="col" class="border border-indigo-100 p-2 sticky top-0 z-10 bg-white w-24 h-48">Avg</th>
          <% @critics.each do |critic| %>
            <th scope="col" class="group border border-indigo-100 h-48 p-2 sticky top-0 z-10 bg-white w-24 hover:after:h-[10000px] hover:after:left-0 hover:after:absolute hover:after:top-[-5000px] hover:after:w-full hover:after:-z-0 hover:after:bg-indigo-600/10">
              <div class="flex flex-col justify-between items-stretch max-h-44 h-full w-full relative z-10">
                <div class="[writing-mode:vertical-rl] text-left basis-full grow">
                  <p class="text-sm leading-tight ml-1">
                    <%= link_to critic.name, critic_url(critic), target: "_top", class: "hover:italic hover:text-indigo-700" %>
                  </p>
                  <p class="text-sm font-light leading-tight"><%= critic.publication %></p>
                </div>
                <p class="font-normal text-xs opacity-0 group-hover:opacity-100 grow-0 shrink"><%= link_to "Hide", edition_path(@edition, request.query_parameters.merge("critics[]" => critic.id)), data: { "turbo-action": "advance" } %></p>
                <p class="text-sm mt-2 grow-0 shrink"><%= critic.country_emoji %></p>
              </div>
            </th>
          <% end %>
        </tr>
      </thead>

      <% @selections_by_category.each do |category, selections| %>
        <tbody class="">
          <tr>
            <th colspan="2" class="sticky left-0 top-48 z-30 bg-indigo-900 text-white text-left">
              <h3 class="px-2 py-1 text-xs uppercase"><%= category.name %></h3>
            </th>
            <th colspan="1000" class="bg-indigo-900 text-white sticky top-48 z-20">&nbsp;</th>
          </tr>
          <% selections.each do |selection| %>
            <tr class=" hover:bg-indigo-600/10">
              <th scope="row" class="border p-2 sticky left-0 z-10 bg-white text-left">
                <h4 class="text-sm leading-tight text-ellipsis overflow-hidden">
                  <%= link_to selection.film.title, film_url(selection.film), target: "_top", class: "hover:italic hover:text-indigo-700" %>
                </h4>
                <h5 class="mt-1 font-light text-sm leading-tight"><%= @film_directors[selection.film] %></h5>
              </th>
              <td class="border p-2 text-center font-semibold"><%= number_with_precision(selection.average_rating, precision: 1) %></td>
              <% @critics.each do |critic| %>
                <% if (rating = @ratings[critic][selection]) %>
                  <td class="border p-2 h-20 text-center relative hover:border-indigo-600 hover:after:h-[10000px] hover:after:left-0 hover:after:absolute hover:after:top-[-5000px] hover:after:w-full hover:after:-z-0 hover:after:bg-indigo-600/10">
                    <%= display_rating(rating.score) %>
                    <% if rating.impression.present? || rating.review_url.present? %>
                      <%= link_to rating_path(rating),
                          data: {
                            turbo_frame: "modal",
                            controller: "modal",
                            action: "modal#show",
                            "modal-dialog-param": "global-modal"
                          },
                          class: "absolute bottom-0 left-0 z-[5] py-2 w-full group flex justify-center items-center gap-1 mt-4" do %>
                        <% if rating.impression.present? %>
                          <div class="flex items-center gap-2">
                            <%= inline_svg_tag("icons/waveform-path.svg", class: "w-3 fill-indigo-500 group-hover:fill-indigo-900") %>
                          </div>
                        <% end %>

                        <% if rating.review_url.present? %>
                          <div class="flex items-center gap-2">
                            <%= inline_svg_tag("icons/link.svg", class: "w-3 fill-indigo-500 group-hover:fill-indigo-900") %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                <% else %>
                  <td class="border p-2 text-center relative hover:border-indigo-600 hover:after:h-[10000px] hover:after:left-0 hover:after:absolute hover:after:top-[-5000px] hover:after:w-full hover:after:-z-0 hover:after:bg-indigo-600/10">&nbsp;</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>
