<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag "modal" do %>
  <h1 class="text-2xl font-semibold mb-4">Invite a critic</h1>

  <%= form_with(model: @user, url: admin_critics_invitation_path) do |form| %>
    <% if @user.errors.any? %>
      <div class="text-red-600 p-4 border-red-600 border rounded bg-red-100 mb-4">
        <h2 class="mb-4"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul class="my-4">
          <% @user.errors.each do |error| %>
            <li class="font-medium"><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.email_field :email, required: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
    </div>

    <%= form.fields_for :userable do |userable_form| %>
      <div class="mb-4">
        <%= userable_form.label :first_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= userable_form.text_field :first_name, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      </div>

      <div class="mb-4">
        <%= userable_form.label :last_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= userable_form.text_field :last_name, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      </div>

      <div class="mb-4">
        <%= userable_form.label :publication, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= userable_form.text_field :publication, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      </div>

      <div class="mb-4">
        <%= userable_form.label :country, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= userable_form.select :country, options_for_select(countries_select), { required: true }, { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" } %>
      </div>
    <% end %>

    <div>
      <%= form.hidden_field :userable_type, value: "Critic" %>
      <%= form.submit "Send invitation", class: "bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
<% end %>
<br>

<div>
  <%= link_to "Back", root_path %>
</div>
