<div class="mt-4 mb-8 max-w-md">
  <% if festival.errors.any? %>
    <div class="text-red-600 p-4 border-red-600 border rounded bg-red-100 mb-4">
      <h2 class="mb-4"><%= pluralize(festival.errors.count, "error") %> prohibited this Festival from being saved:</h2>

      <ul class="my-4">
        <% festival.errors.each do |error| %>
          <li class="font-medium">❌&nbsp;<%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: [:admin, festival]) do |form| %>
    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :name, placeholder: "e.g. Toronto International Film Festival", class: "shadow-md appearance-none border border-slate-300 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= form.label :short_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :short_name, placeholder: "e.g. TIFF", class: "shadow-md appearance-none border border-slate-300 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= form.label :url, "URL", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.url_field :url, placeholder: "e.g. https://tiff.net", class: "shadow-md appearance-none border border-slate-300 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= form.label :country, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :country, countries_select, {}, class: "shadow-md appearance-none border border-slate-300 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="flex items-center justify-between">
      <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
