<%# THIS IS WHERE THE GRID WOULD LIVE %>

<header class="bg-white relative mb-4">
  <div class="grid place-content-center bg-logo-radial-gradient contrast-[2000] after:bg-logo-radial-gradient-overlay after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:mix-blend-lighten">
    <h1 class="font-black uppercase text-7xl md:text-8xl pt-8 pb-8 md:pb-12 px-4">
      <span class="inline-block">Moirée</span>
    </h1>
  </div>
  <p class="hidden md:block font-normal text-indigo-700 md:text-2xl text-center pb-4 z-10 -my-10 absolute left-[50%] -translate-x-1/2">Critic ratings from film festivals around the world</p>
</header>

<section class="mx-4 md:mx-8">
  <% if @current.any? %>
    <h2 class="font-semibold mb-4">Current festivals</h2>
    <ul class="grid grid-cols-1 md:grid-cols-3 md:gap-2">
      <%= render @current %>
    </ul>
  <% end %>

  <% if @past.any? %>
    <h2 class="font-semibold mb-4">Past festivals</h2>
    <ul class="grid grid-cols-1 md:grid-cols-3 md:gap-2">
      <%= render @past %>
    </ul>
  <% end %>
</section>

<% if Current.user %>
<p>Signed as <%= Current.user.email %></p>

<h2>Login and verification</h2>

<div>
  <%= link_to "Change password", edit_password_path %>
</div>

<div>
  <%= link_to "Change email address", edit_identity_email_path %>
</div>

<div>
  <%= link_to "Send Admin invitation", new_admin_invitation_path %>
</div>

<div>
  <%= link_to "Send Critic invitation", new_admin_critics_invitation_path %>
</div>

<h2>Access history</h2>

<div>
  <%= link_to "Devices & Sessions", sessions_path %>
</div>

<br>

<%= button_to "Log out", Current.session, method: :delete %>
<% end %>
