<% description("MOIRÉE is a platform that showcases real-time ratings from a curated community of film critics at festivals worldwide.") %>

<div class="min-h-[calc(100vh-1.25rem)] flex flex-col justify-between">
  <div>
    <header class="relative bg-white overflow-hidden">
      <div class="grid place-content-center bg-logo-radial-gradient contrast-2000 after:bg-logo-radial-gradient-overlay after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:mix-blend-lighten">
        <h1 class="font-black uppercase text-[26vw] xl:text-[22.5rem] italic leading-tight px-4">
          <span class="inline-block">Moirée</span>
        </h1>
      </div>
      <p class="font-medium italic tracking-tight text-indigo-700 bg-linear-to-b from-white/45 to-slate-50 md:text-xl text-center p-2 md:p-4 z-10 -my-12 absolute bottom-12 left-[50%] -translate-x-1/2 w-full">Critic ratings from film festivals around the world</p>
    </header>

    <section class="bg-slate-50 p-4 mt-4">
      <% if @current.any? %>
        <h2 class="mb-4 uppercase text-sm bg-indigo-900 p-4 text-white">
          <span class="font-extrabold tracking-[1rem]">Current</span>
          <span class="tracking-wide">&nbsp;</span>
          <span class="tracking-[1.2rem]"><%= "festival".pluralize(@current.size) %></span>
        </h2>

        <% @current.each do |edition| %>
          <article class="mb-4 bg-white flex flex-col justify-between shadow-xs rounded-sm hover:shadow-lg transition-shadow bg-radial-gradient">
            <%= link_to edition_path(edition), class: "block" do %>
              <header class="mb-1 px-6 pt-6 pb-2">
                <h2 class="text-xs uppercase mb-1"><%= edition.name %></h2>
                <h1 class="font-semibold text-xl leading-tight"><%= edition.code %></h1>
                <div>
                  <time datetime="<%= edition.start_date.to_date %>" class="text-sm"><%= edition.start_date.strftime("%b %d, %Y") %></time>
                  <span class="text-sm"> --> </span>
                  <time datetime="<%= edition.end_date.to_date %>" class="text-sm"><%= edition.end_date.strftime("%b %d, %Y") %></time>
                </div>
              </header>

              <ul class="text-xs flex mb-4 px-6">
                <li class="mr-1 px-2 py-1 bg-violet-500 text-white rounded-sm"><strong><%= edition.categories.size %></strong> Categories</li>
                <li class="mr-1 px-2 py-1 bg-fuchsia-500 text-white rounded-sm"><strong><%= edition.films.size %></strong> Films</li>
                <li class="px-2 py-1 bg-teal-500 text-white rounded-sm"><strong><%= edition.ratings.size %></strong> Ratings</li>
              </ul>
            <% end %>

            <% if edition.ratings.any? %>
              <section class="bg-white/50 rounded-t-md p-6 border-indigo-100/50 border">
                <header class="mb-4 flex justify-between">
                  <div>
                    <h3 class="text-lg font-semibold">Latest ratings</h3>
                    <p class="text-sm">Ratings are out of 5</p>
                  </div>
                  <div>
                    <%= link_to "See the live feed -->", live_edition_path(edition), class: "inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded-sm text-xs" %>
                  </div>
                </header>
                <ul class="md:grid md:grid-cols-5 md:gap-2">
                  <%= render edition.ratings.includes(:critic).order("created_at DESC").limit(5) %>
                </ul>
              </section>
            <% end %>
          </article>
        <% end %>
      <% end %>

      <% if @upcoming.any? || @past.any? %>
        <% [["Upcoming", @upcoming], ["Past", @past]].each do |(label, editions)| %>
          <% if editions.any? %>
            <section class="mb-8">
              <h2 class="mb-4 uppercase text-sm bg-indigo-900 p-4 text-white">
                <span class="font-extrabold tracking-[1rem]"><%= label %></span>
                <span class="tracking-wide">&nbsp;</span>
                <span class="tracking-[1.2rem]"><%= "festival".pluralize(editions.size) %></span>
              </h2>
              <ul class="flex flex-wrap sm:gap-2">
                <%= render editions %>
              </ul>
            </section>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </div>

  <footer class="min-h-32 bg-indigo-900 shadow-inner  text-white px-4 py-2 md:py-0">
    <div class="md:grid md:grid-cols-2 md:gap-16">
      <section class="my-4 text-sm">
        <h1 class="font-bold mb-1">Critics & Admins</h1>
        <ul>
          <li>
            <% if current_user %>
              <%= button_to "Sign out", sign_out_path, method: :delete, class: "underline underline-offset-2" %>
            <% else %>
              <%= link_to "Sign in", sign_in_path, class: "underline underline-offset-2" %>
            <% end %>
          </li>
        </ul>
      </section>
      <section class="my-4 text-sm">
        <h1 class="font-bold mb-1">About</h1>
        <p class="mb-1">MOIRÉE is a platform that showcases real-time ratings from a curated community of film critics at festivals worldwide.</p>
        <p>
          A collaboration between
          <a href="https://blakewilliams.net" target="_blank" class="underline underline-offset-2">Blake Williams</a>,
          <a href="https://mubi.com/en/notebook/posts/author/4" target="_blank" class="underline underline-offset-2">Danny Kasman</a>, and
          👨🏽‍💻 <a href="https://fightingtheboss.com" target="_blank" class="underline underline-offset-2">Mina Mikhail</a>.
        </p>
        <div class="md:flex md:gap-4 justify-end items-center mt-6">
          <p class="mb-1 md:mb-0 text-xs">Made with ❤️ in Toronto</p>
          <p class="text-xs">© <%= Time.current.year %> MOIRÉE. All rights reserved.</p>
        </div>
      </section>
    </div>
  </footer>
</div>
