<li class="flex flex-col justify-between bg-white p-4 shadow-xs rounded-md mb-2">
  <div class="">
    <time datetime="<%= rating.created_at.strftime("%Y-%m-%dT%H:M%z") %>" title="<%= rating.created_at.strftime("%b %d, %Y") %>" class="text-xs text-slate-600 mb-1"><%= time_ago_in_words(rating.created_at).capitalize %> ago</time>
    <p class="text-sm leading-tight"><strong class="font-medium"><%= rating.critic.name %></strong> rated</p>
    <header class="mt-3 mb-4">
      <h2 class="text-xs uppercase tracking-wide"><%= rating.selection.category.name %></h2>
      <h1 class="text-lg leading-tight my-0.5"><%= link_to link_to rating.film.title, film_path(rating.film), class: "hover:italic hover:text-indigo-700" %></h1>
      <h3 class="text-sm"><%= rating.film.director %></h3>
    </header>
  </div>
  <div>
    <p class="text-center bg-indigo-50 rounded-xs px-2 py-1"><strong class="text-2xl"><%= display_rating(rating.score) %></strong></p>

    <% if rating.impression.present? || rating.review_url.present? %>
      <%= link_to rating_path(rating),
          data: {
            turbo_frame: "modal",
            controller: "modal",
            action: "modal#show",
            "modal-dialog-param": "global-modal"
          },
          class: "group flex justify-center items-center gap-2 mt-4" do %>
        <% if rating.impression.present? %>
          <div class="flex items-center gap-2">
            <%= inline_svg_tag("icons/waveform-path.svg", class: "w-5 fill-indigo-500 group-hover:fill-indigo-900") %>
          </div>
        <% end %>

        <% if rating.review_url.present? %>
          <div class="flex items-center gap-2">
            <%= inline_svg_tag("icons/link.svg", class: "w-5 fill-indigo-500 group-hover:fill-indigo-900") %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</li>
