<%= turbo_frame_tag "modal" do %>
  <div class="@container">
    <div class="flex flex-col justify-between @sm:flex-row @sm:justify-start">
      <div class="flex flex-col justify-evenly bg-white p-4 @sm:w-1/2">
        <time datetime="<%= @rating.created_at.strftime("%Y-%m-%dT%H:M%z") %>" title="<%= @rating.created_at.strftime("%b %d, %Y") %>" class="text-xs text-slate-600 mb-1"><%= time_ago_in_words(@rating.created_at).capitalize %> ago</time>
        <p class="text-sm leading-tight"><strong class="font-medium"><%= @rating.critic.name %></strong> rated</p>
        <header class="mt-3 mb-4">
          <h2 class="text-xs uppercase tracking-wide"><%= @rating.selection.category.name %></h2>
          <h1 class="text-lg leading-tight my-0.5"><%= link_to link_to @rating.film.title, film_path(@rating.film), class: "hover:italic hover:text-indigo-700" %></h1>
          <h3 class="text-sm"><%= @rating.film.director %></h3>
        </header>
      </div>
      <div class="self-center">
        <p class="text-4xl font-bold rounded-full bg-radial-gradient-center p-10"><%= display_rating(@rating.score) %></p>
      </div>
    </div>
  </div>

  <% if @rating.impression.present? %>
    <div class="p-4">
      <h2 class="text-sm font-medium mb-2">Impression</h2>
      <p class="font-sentient font-light text-lg whitespace-pre-line prose"><%= @rating.impression %></p>
    </div>
  <% end %>

  <% if @rating.review_url.present? %>
    <div class="p-4">
      <p class="text-sm text-indigo-500 hover:italic">
        <%= link_to @rating.review_url, target: "_blank", rel: "noopener noreferrer", class: "align-middle" do %>
          <span>Read more from <%= @rating.critic.name %> about <%= @rating.film.title %></span>
          <%= inline_svg_tag("icons/external-link-square.svg", class: "ml-2 w-4 inline-block fill-indigo-500") %>
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
