<article>
  <header class="md:flex md:justify-between bg-white pt-4 mb-4">
    <div class="px-4 md:px-8">
      <h1 class="font-semibold text-4xl"><%= @film.title %></h1>
      <h2><%= @film.director %></h2>
      <h3><%= @film.country.split(",").map(&:strip).map { |c| "#{Country[c].emoji_flag} #{Country[c].common_name}" }.join(", ") %></h3>
      <h4><%= @film.year %></h4>
    </div>
    <div class="flex justify-between items-center text-center mt-4 md:my-4 md:block md:mt-0 md:px-8 py-2 px-4 md:pt-0">
      <h3 class="font-semibold text-xl md:text-base uppercase">Overall rating</h3>
      <p class="font-black text-3xl md:text-6xl"><%= number_with_precision(@film.overall_average_rating, precision: 1) %></p>
      <p class="text-xs hidden md:block">across <%= pluralize(@film.editions.size, "festival") %></p>
    </div>
  </header>

  <section>
    <% @film.editions.order("editions.start_date DESC").each do |edition| %>
      <h3 class="text-xl font-semibold px-4 py-4 bg-indigo-900 text-white"><%= edition.name %></h3>
      <table class="border-collapse border-spacing-0 w-full mb-4">
        <thead>
          <tr>
            <th class="border border-indigo-100 p-2 pl-4 text-left bg-indigo-700 text-white">Average rating</th>
            <th class="border border-indigo-100 p-2 bg-indigo-700 text-white"><%= number_with_precision(@film.ratings.for(edition).average(:score), precision: 1) %></th>
          </tr>
          <tr>
            <th class="border border-indigo-100 text-left p-4 bg-indigo-50">Critic</th>
            <th class="border border-indigo-100 p-4 bg-indigo-50">Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @film.ratings.includes(:critic).for(edition).each do |rating| %>
            <tr class="hover:bg-indigo-50">
              <td class="border border-indigo-100 p-2 pl-4">
                <h1 class="font-semibold"><%= rating.critic.name %></h1>
                <h2><%= rating.critic.publication %></h2>
              </td>
              <td class="border border-indigo-100 p-2 text-center"><%= rating.score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </section>
</article>
