<%= turbo_frame_tag "new-film-search-results" do %>
  <% if films.any? %>
    <h3 class="text-xs leading-6 text-gray-600 mt-2">Similar films from other festivals</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-2">
      <% films.each do |film| %>
        <li class="bg-white p-6 flex flex-col justify-between shadow-xs rounded-sm hover:shadow-lg transition-shadow hover:cursor-pointer my-1 border border-gray-200/50">
          <%= link_to new_admin_festival_edition_selection_path(festival, edition, film_id: film.id), data: { "turbo-frame": "add-film-to-edition" } do %>
            <%= render partial: "admin/films/film_detail", locals: { film: film } %>
          <% end %>
        </li>
      <% end %>
    </div>
  <% end %>

  <% if tmdb_results.any? %>
    <h3 class="text-xs leading-6 text-gray-600 mt-2">TMDB results</h3>
    <div class="grid grid-cols-1">
      <% tmdb_results.each do |film| %>
        <li class="bg-white p-6 flex flex-col justify-between shadow-xs rounded-sm hover:shadow-lg transition-shadow hover:cursor-pointer my-1 border border-gray-200/50 bg-radial-gradient">
          <%= link_to tmdb_modify_path(festival, edition, selection_id, film.id), data: { "turbo-frame": "add-film-to-edition" }, class: "block" do %>
            <article class="grid grid-cols-1 md:grid-cols-[96px_1fr] md:gap-4">
              <div class="mb-4 md:mb-0">
                <% if film.poster_path.present? %>
                  <%= image_tag film.poster_url(size: "w185"), alt: "#{film.title} poster", class: "w-full h-auto rounded-sm shadow-xs" %>
                <% else %>
                  <div class="w-full h-0 pb-[150%] bg-gray-200 flex items-center justify-center rounded-sm shadow-xs">
                    <span class="text-gray-500 text-sm">No poster available</span>
                  </div>
                <% end %>
              </div>
              <div>
                <h4 class="text-lg font-semibold leading-tight mb-2"><%= film.title %></h4>
                <% if film.release_date.present? %>
                  <p class="text-sm text-gray-600 mb-2"><%= film.release_date %></p>
                <% end %>
                <% if film.overview.present? %>
                  <p class="text-sm text-gray-700"><%= film.overview %></p>
                <% else %>
                  <p class="text-sm text-gray-500 italic">No description available.</p>
                <% end %>
              </div>
            </article>
          <% end %>
        </li>
      <% end %>
    </div>
  <% end %>
<% end %>
