<div class="mx-4 md:mx-8">
  <search class="">
    <%= form_with url: admin_films_search_path, method: :get, data: { turbo_frame: "search-results", controller: "search" } do |form| %>
      <%= form.label :query, "Search by title", class: "font-semibold" %>
      <div class="flex space-x-3">
        <%= form.text_field :query, data: { action: "input->search#search"}, class: "w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>

        <% if edition %>
          <%= hidden_field_tag :edition_id, @edition.id %>
        <% end %>

        <%= form.submit "Search", class: "bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded text-xs" %>
      </div>
    <% end %>
  </search>

  <%= turbo_frame_tag "search-results" do %>
    <ul class="grid grid-cols-1 md:grid-cols-3 md:gap-2 my-8">
      <% if @films.any? %>
        <%= render partial: "admin/films/search_result", collection: @films %>
      <% else %>
        <li>
          <p>No films yet.</p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
