<li id="<%= dom_id(selection) %>" class="bg-white p-6 flex flex-col justify-between shadow-sm rounded hover:shadow-lg transition-shadow my-1 md:my-0 group">
  <div class="flex justify-between">
    <article class="basis-full">
      <h2 class="text-xs uppercase tracking-wide font-light"><%= selection.category.name %></h2>
      <h1 class="font-semibold my-2 leading-tight"><%= link_to selection.film.title, film_url(selection.film), target: "_top", class: "hover:italic hover:text-indigo-700" %></h1>
      <p class="text-sm my-0.5"><%= selection.film.director %></p>
      <p class="text-sm my-0.5"><%= selection.film.countries.join(", ") %></p>
      <p class="text-sm my-0.5"><%= selection.film.year %></p>
    </article>
    <% if policy(selection).edit? %>
      <div class="opacity-0 group-hover:opacity-100">
        <%= link_to "Edit", edit_admin_festival_edition_selection_path(@festival, @edition, selection),
            data: {
              turbo_frame: "modal",
              controller: "modal",
              action: "modal#show",
              "modal-dialog-param": "global-modal"
            },
            class: "inline-block text-xs text-indigo-500 hover:text-indigo-700 hover:underline"
        %>
      </div>
    <% end %>
  </div>

  <% if Current.user.admin? || (Current.user.critic? && Current.user.userable.edition_attendances.include?(@edition)) %>
    <aside id="<%= dom_id(selection, :critic_rating) %>" class="mt-4">
      <% unless critic_already_rated?(selection) || defined?(hide_rate_button) %>
        <%= render partial: "admin/ratings/new_rating_button", locals: { festival: @festival, edition: @edition, selection: selection } %>
      <% end %>

      <% if critic_already_rated?(selection) %>
        <%= render partial: "admin/ratings/edit_rating_button", locals: { festival: @festival, edition: @edition, selection: selection, rating: Current.user.userable.ratings.find_by(selection: selection) } %>
      <% end %>
    </aside>
  <% end %>
</li>
