<div>
  <%= turbo_frame_tag "modal" do %>
    <header class="mb-4">
      <h1 class="text-lg font-semibold mb-4">Import films from CSV</h1>
      <p>CSV file needs to have a header row and the following columns:</p>
      <ul class="font-mono mb-4 font-medium">
        <li class="inline-block mr-1">title</li>
        <li class="inline-block mr-1">original_title</li>
        <li class="inline-block mr-1">director</li>
        <li class="inline-block mr-1">year</li>
        <li class="inline-block mr-1">country</li>
        <li class="inline-block mr-1">category</li>
      </ul>
    </header>
    <%= form_with model: [:admin, @festival, @edition], url: import_admin_festival_edition_selections_path(@festival, @edition), method: :post, local: true, multipart: true do |form| %>
      <div class="mb-4">
        <%= form.file_field :csv, class: "block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100" %>
      </div>
      <div>
        <%= hidden_field_tag "modal_keep_open", "true" %>
        <%= form.submit "Import", class: "block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  <% end %>
</div>
