<div class="mx-4">
  <% if Current.user.critic? && !@edition.critics.include?(Current.user.userable) %>
    <p class="mt-1 p-2 font-semibold text-center bg-[repeating-linear-gradient(-45deg,#c7d2fe_0px,#c7d2fe_4px,#eef2ff_4px,#eef2ff_8px)]">
      If you're attending this festival, ask an admin to add you as a critic to be able to rate films
    </p>
  <% end %>

  <% if policy(Film).create? %>
    <header class="my-4">
      <%= link_to "Import CSV", csv_admin_festival_edition_selections_path(@festival, @edition),
        data: {
          turbo_frame: "modal",
          controller: "modal",
          action: "modal#show",
          "modal-dialog-param": "global-modal",
          "modal-target-param": dom_id(@edition, :import_films)
        },
        class: "inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded text-xs"
      %>
      <%= link_to "Add film", new_admin_festival_edition_selection_path(@festival, @edition),
        data: {
          turbo_frame: "modal",
          controller: "modal",
          action: "modal#show",
          "modal-dialog-param": "global-modal",
          "modal-target-param": dom_id(@edition, :films)
        },
        class: "inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded text-xs"
      %>
    </header>
  <% end %>

  <% if @selections.any? %>
    <search class="my-4">
      <%= form_with url: admin_films_search_path, method: :get, data: { turbo_frame: "search-results", controller: "search" } do |form| %>
        <%= form.label :query, "Search by title", class: "font-semibold" %>
        <div class="flex space-x-3">
          <%= form.text_field :query, data: { action: "input->search#search"}, class: "w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
          <%= hidden_field_tag :edition_id, @edition.id %>
          <%= form.submit "Search", class: "bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded text-xs" %>
        </div>
      <% end %>
    </search>
  <% end %>

    <ul id="<%= dom_id(@edition, :films) %>">
      <%= turbo_frame_tag "search-results", class: "grid grid-cols-1 md:grid-cols-3 md:gap-2 my-8" do %>
        <% if @selections.any? %>
          <%= render @selections %>
        <% else %>
          <li class="md:col-span-full">
            No films in this edition yet.
            <%= link_to "Add film", new_admin_festival_edition_selection_path(@festival, @edition),
              data: {
                turbo_frame: "modal",
                controller: "modal",
                action: "modal#show",
                "modal-dialog-param": "global-modal"
              },
              class: "bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded text-xs"
            %>
          </li>
        <% end %>
      <% end %>
    </ul>
</div>
