<div class="container mx-auto my-8">
  <%= turbo_frame_tag "modal" do %>
    <h1 class="text-2xl font-semibold mb-4">New Film for <%= @edition.code %></h1>

    <%= turbo_frame_tag "add-film-to-edition", target: "search-results" do %>
      <%# Clear out any search results when this Turbo Frame is re-rendered %>
      <%= turbo_stream.update "new-film-search-results", "" %>

      <%= render partial: "shared/errors", locals: { model: @film } %>

      <%= form_with(model: [:admin, @festival, @edition, @selection]) do |selection_form| %>
        <%= selection_form.fields_for :film, include_id: false do |form| %>
          <% if @film.persisted? %>
            <div class="mb-4">
              <%= render partial: "admin/films/film_detail", locals: { film: @film } %>
              <%= hidden_field_tag :film_id, @film.id %>
            </div>
          <% else %>
            <div class="" data-controller="search" data-search-url-value="<%= admin_festival_edition_search_for_film_to_add_path(@festival, @edition) %>">
              <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= form.text_field :title, placeholder: "e.g. Anatomy of a Fall", data: { action: "input->search#existing", "search-target": "query" }, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
            </div>

            <ul id="<%= dom_id(@edition, :new_film) %>" class="w-full mb-4">
              <%= turbo_frame_tag "new-film-search-results" %>
            </ul>

            <div class="mb-4">
              <%= form.label :original_title, class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= form.text_field :original_title, placeholder: "e.g. Anatomie d'une chute", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
            </div>
            <div class="mb-4">
              <%= form.label :year, class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= form.number_field :year, minimum: 2023, step: 1, value: Time.now.year, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
            </div>
            <div class="mb-4">
              <%= form.label :director, class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= form.text_field :director, placeholder: "e.g. Joel Coen, Ethan Coen", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
              <p class="mt-3 text-sm leading-6 text-gray-600">If there are multiple directors, enter them as a comma-separated list.</p>
            </div>
            <div class="mb-4">
              <%= form.label :country, class: "block text-gray-700 text-sm font-bold mb-2" %>
              <div id="film-countries">
                <%= render partial: "admin/films/country_select" %>
              </div>
              <%= link_to "Add another country", admin_films_add_country_path, data: { "turbo-stream": true }, class: "inline-block mt-4 bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded-sm text-xs" %>
            </div>
          <% end %>

          <div class="mb-4">
            <%= field_set_tag do %>
              <legend class="block text-gray-700 text-sm font-bold mb-2">Category</legend>

              <% if @edition.categories.any? %>
                <% @edition.categories.order(:name).all.each do |category| %>
                  <%= selection_form.label :category_id, value: category.id, class: "block text-gray-700 text-sm font-semibold mb-3" do %>
                    <%= selection_form.radio_button :category_id, category.id, class: "text-indigo-500 focus:ring-indigo-500" %>
                    <span class="inline-block ml-2"><%= category.name %></span>
                  <% end %>
                <% end %>
              <% end %>

              <%= selection_form.label :category_id, value: "-1", class: "block text-gray-700 text-sm font-semibold" do %>
                <%= selection_form.radio_button :category_id, "-1", class: "peer text-indigo-500 focus:ring-indigo-500" %> <span class="inline-block ml-2 text-indigo-400 peer-checked:text-indigo-500">Add a new category</span>

                <div class="hidden peer-checked:block mt-3">
                  <%= text_field_tag :new_category, nil, placeholder: "e.g. Special Presentations", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="my-8 border-t border-b border-t-gray-200 border-b-gray-200 py-2">
            <%= selection_form.label :rateable, class: "block text-gray-700 text-sm font-semibold mb-2" do %>
              <%= selection_form.check_box :rateable, checked: true, class: "text-indigo-500 focus:ring-indigo-500" %> <span class="inline-block ml-2">Rateable?</span>
            <% end %>
            <p class="mt-3 text-sm leading-6 text-gray-600">Uncheck this box if you don't want this film to be rated by critics</p>
          </div>

          <div class="flex items-center justify-between mt-8">
            <%= form.submit "Add film to edition", class: "bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-sm focus:outline-hidden focus:shadow-outline" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
