<li>
  <article class="bg-white p-6 flex flex-col justify-between shadow-sm rounded hover:shadow-lg transition-shadow">
    <header class="mb-4">
      <h1 class="font-semibold"><%= critic.name %></h1>
      <h2><%= critic.email %></h2>
      <h3><%= Country[critic.country].common_name %></h3>
      <h4><%= critic.publication %></h4>
    </header>
    <footer class="flex justify-between items-center">
      <div class="px-2 py-1 bg-teal-500 text-white rounded">
        <%= pluralize(critic.ratings.size, "rating") %>
      </div>
      <div>
        <%= button_to "ðŸ—‘ï¸", admin_user_path(critic.user.id), method: :delete, data: { "turbo-confirm": "Are you sure you want to delete #{critic.name}? This action is irreversible."} %>
      </div>
    </footer>
  </article>
</li>
