<li id="<%= dom_id(critic) %>">
  <article class="bg-white p-6 flex flex-col justify-between shadow-xs rounded-sm hover:shadow-lg transition-shadow group">
    <header class="flex justify-between mb-4">
      <div>
        <h1 class="font-semibold">
          <%= link_to critic.name, critic_url(critic), class: "hover:italic hover:text-indigo-700", target: "_top" %>
        </h1>
        <h2 class="text-xs font-mono leading-relaxed"><%= critic.email %></h2>
        <h4 class="text-xs leading-relaxed"><%= critic.publication %></h4>
        <h3 class="text-xs leading-relaxed"><%= "#{Country[critic.country].emoji_flag} #{Country[critic.country].common_name}" %></h3>
      </div>

      <% if policy(critic).edit? %>
        <div class="opacity-0 group-hover:opacity-100">
          <%= link_to "Edit", edit_admin_critic_path(critic),
              data: {
                turbo_frame: "modal",
                controller: "modal",
                action: "modal#show",
                "modal-dialog-param": "global-modal"
              },
              class: "inline-block text-xs text-indigo-500 hover:text-indigo-700 hover:underline"
          %>
        </div>
      <% end %>
    </header>

    <footer class="flex justify-between items-center">
      <div class="flex gap-2">
        <div class="px-2 py-1 bg-violet-500 text-white text-xs rounded-sm hover:bg-violet-700">
          <%= pluralize(critic.editions.size, "edition") %>
        </div>
        <div class="px-2 py-1 bg-teal-500 text-white text-xs rounded-sm hover:bg-teal-700">
          <%= link_to pluralize(critic.ratings.size, "rating"), critic_url(critic), target: "_top" %>
        </div>
      </div>

      <% if policy(critic).edit? %>
        <div>
          <%= button_to "ðŸ—‘ï¸", admin_user_path(critic.user.id), method: :delete, data: { "turbo-confirm": "Are you sure you want to delete #{critic.name}? This action is irreversible."} %>
        </div>
      <% end %>
    </footer>
  </article>
</li>
