<div id="<%= dom_id(podcast) %>" class="mb-4 border-b-4 border-white last:border-none">
  <article class="p-4 grid lg:grid-cols-3">
    <header class="text-sm mb-4">
      <h1 class="font-medium text-lg">
        <%= podcast.title %>
        <% if podcast.platform? %>
          <span class="inline-block bg-indigo-100 text-indigo-800 text-xs font-semibold px-2 py-1 ml-2 rounded-full align-text-top">Platform</span>
        <% end %>
      </h1>
      <% if podcast.url.present? %>
        <h2><%= link_to podcast.url, podcast.url, target: "_blank", class: "text-indigo-500 hover:text-indigo-700 hover:underline" %></h2>
      <% end %>
      <h3 class="my-2"><%= podcast.description %></h3>
      <% if policy(podcast).edit? %>
        <%= link_to "Edit", edit_admin_podcast_path(podcast), data: { turbo_frame: "modal", controller: "modal", action: "modal#show", "modal-dialog-param": "global-modal" }, class: "inline-block mr-4 lg:mr-0 lg:block text-indigo-500 hover:text-indigo-700 hover:underline my-3" %>
      <% end %>
      <% if !podcast.platform? && policy(Podcast::Episode).new? %>
        <%= link_to "Add episode", new_admin_podcast_episode_path(podcast),
          data: {
            turbo_frame: "modal",
            controller: "modal",
            action: "modal#show",
            "modal-dialog-param": "global-modal",
            "modal-target-param": dom_id(podcast, :episodes)
          },
          class: "inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded-sm text-xs lg:mt-3" %>
      <% end %>
    </header>
    <section class="lg:col-span-2">
      <ul id="<%= dom_id(podcast, :episodes) %>" class="grid grid-cols-1 md:grid-cols-2 md:gap-2">
        <% if podcast.episodes.any? %>
          <%= render partial: "admin/podcasts/episodes/episode", collection: podcast.episodes %>
        <% else %>
          <li id="episodes-empty">
            No episodes yet.
          </li>
        <% end %>
      </ul>
    </section>
  </article>
</div>
