<div class="max-w-prose mx-auto my-4">
  <header class="px-4">
    <h1 class="font-semibold text-3xl mb-2"><%= @podcast.title %></h1>
    <p><%= @podcast.description %></p>
  </header>

  <section class="p-4 bg-radial-gradient rounded-md shadow-lg my-4">
    <h2 class="font-semibold text-sm uppercase tracking-wider pb-2 text-indigo-700">Latest Episode</h2>
    <article>
      <% if @latest_episode.embed %>
        <div><%=raw @latest_episode.embed %></div>
        <h3 class="inline-block rounded-tl-md rounded-tr-md text-sm mt-2 font-medium bg-indigo-700 text-white px-4 py-1">Show notes</h3>
        <div class="font-sentient font-light mb-2 bg-white p-4 border-indigo-700 border rounded-bl-md rounded-br-md rounded-tr-md">
          <%=raw @latest_episode.description %>
        </div>
        <div class="flex justify-between">
          <% if @latest_episode.edition %>
            <p class="inline-block text-xs text-gray-400 my-2">
              Part of
              <%= link_to @latest_episode.edition.code, edition_path(@latest_episode.edition), class: "text-indigo-700 underline" %>
            </p>
          <% end %>
          <%= link_to @latest_episode.url, @latest_episode.url, target: "_blank", class: "inline-block my-2 text-xs text-gray-400" %>
        </div>
      <% else %>
        <h1 class="font-semibold text-2xl mb-1"><%= @latest_episode.title %></h1>
        <p class=""><%= @latest_episode.published_at.strftime("%B %d, %Y") if @latest_episode.published_at %></p>
        <p class="font-sentient font-extralight"><%= @latest_episode.description %></p>
        <a href="<%= @latest_episode.url %>" target="_blank"><%= @latest_episode.url %></a>
      <% end %>
    </article>
  </section>

  <% if @episodes.any? %>
    <section class="p-6 bg-white rounded-md shadow-lg my-4">
      <h2 class="font-semibold text-sm uppercase text-indigo-700 pb-2 tracking-wider">Past Episodes</h2>
      <ul>
        <%= render partial: "podcasts/episode", collection: @episodes %>
      </ul>
    </section>
  <% end %>
</div>
