<!DOCTYPE html>
<html>
  <head>
    <title>Moirée (Admin)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="turbo-refresh-method" content="morph">
  </head>

  <body class="bg-slate-50">
    <%= content_for?(:content) ? yield(:content) : yield %>

    <dialog id="global-modal" class="rounded-md shadow-md">
      <div class="min-w-[50vw] max-w-full md:max-w-[75vw] p-8 rounded shadow flex flex-col items-center relative">
        <header class="absolute top-8 right-8">
          <form method="dialog">
            <button type="submit" aria-label="close" class="text-2xl">&times;</button>
          </form>
        </header>

        <div class="w-full" data-controller="modal" data-action="turbo:submit-end->modal#submitEnd">

          <%= turbo_frame_tag "modal" %>

          <form method="dialog" class="absolute bottom-8 right-8" data-controller="modal" data-action="submit->modal#clearModal">
            <button type="submit" class="bg-white hover:bg-slate-50 text-black border border-slate-300 font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancel</button>
          </form>
        </div>
      </div>
    </dialog>
  </body>
</html>
