<!DOCTYPE html>
<html>
  <head>
    <title>Moirée (Admin)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="turbo-refresh-method" content="morph">

    <%= favicon_link_tag "favicon.ico", sizes: "any"%>
    <%= favicon_link_tag "moiree-logo.svg", type: "image/svg+xml" %>
    <%= favicon_link_tag "moiree-logo.png", rel: "apple-touch-icon", type: "image/png" %>
  </head>

  <body class="bg-slate-50">
    <header class="flex justify-between items-center bg-indigo-900 text-white px-4 py-0.5">
      <h1 class="uppercase text-xs font-black">
        <%= link_to "Moirée", root_path %>
      </h1>
      <nav>
        <ul class="flex gap-4">
          <li><%= link_to "Festivals", admin_festivals_path, class: "text-xs font-medium hover:font-semibold" %></li>
          <li><%= link_to "Users", critics_admin_users_path, class: "text-xs font-medium hover:font-semibold" %></li>
        </ul>
      </nav>
    </header>

    <div id="flash" class="fixed bottom-5 left-[50%] -translate-x-1/2 flex flex-col items-center gap-2 max-w-full w-max py-4">
      <%= render "layouts/flash" %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <dialog id="global-modal" class="rounded-md shadow-md">
      <div class="min-w-[50vw] max-w-full md:max-w-[75vw] p-8 rounded shadow flex flex-col items-center relative">
        <header class="absolute top-8 right-8">
          <form method="dialog">
            <button type="submit" aria-label="close" class="text-2xl">&times;</button>
          </form>
        </header>

        <div class="w-full" data-controller="modal" data-action="turbo:submit-end->modal#submitEnd">

          <%= turbo_frame_tag "modal" %>

          <form method="dialog" class="absolute bottom-8 right-8" data-controller="modal" data-action="submit->modal#clearModal">
            <button type="submit" class="bg-white hover:bg-slate-50 text-black border border-slate-300 font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancel</button>
          </form>
        </div>
      </div>
    </dialog>
  </body>
</html>
