<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MOIRÉE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="turbo-refresh-method" content="morph">

    <%= favicon_link_tag "favicon.ico", sizes: "any"%>
    <%= favicon_link_tag "moiree-logo.svg", type: "image/svg+xml" %>
    <%= favicon_link_tag "moiree-logo.png", rel: "apple-touch-icon", type: "image/png" %>

    <% if Rails.env.production? %>
      <script type="module">
        import BugsnagPerformance from "//d2wy8f7a9ursnm.cloudfront.net/v1/bugsnag-performance.min.js"
        BugsnagPerformance.start({ apiKey: "<%= Rails.application.credentials.bugsnag.api_key %>" })
      </script>
    <% end %>

    <meta name="description" content="<%= content_for(:description) %>">

    <%= content_for(:open_graph) %>

    <%= content_for(:head) %>
  </head>

  <body class="relative bg-slate-50 font-inter">
    <header class="flex justify-between items-center bg-indigo-900 text-white px-4 py-0.5">
      <h1 class="uppercase text-xs font-black">
        <%= link_to "Moirée", root_path %>
      </h1>
      <nav>
        <ul class="flex gap-4">
          <% if current_user %>
            <li><%= link_to "Festivals", admin_festivals_path, class: "text-xs font-medium hover:font-semibold" %></li>
            <li><%= link_to "Users", critics_admin_users_path, class: "text-xs font-medium hover:font-semibold" %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div id="flash" class="fixed bottom-5 left-[50%] -translate-x-1/2 flex flex-col items-center gap-2 max-w-full w-max py-4">
      <%= render "layouts/flash" %>
    </div>

    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <dialog id="global-modal" class="rounded-md shadow-md backdrop:bg-radial-gradient-backdrop">
      <div class="w-full sm:w-[75vw] xl:w-[50vw] max-w-3xl p-8 rounded-sm shadow-sm flex flex-col items-center relative">
        <header class="absolute top-8 right-8">
          <form method="dialog">
            <button type="submit" aria-label="close" class="text-2xl">&times;</button>
          </form>
        </header>

        <div class="w-full" data-controller="modal" data-action="turbo:submit-end->modal#submitEnd">
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </dialog>
  </body>
</html>
