<!DOCTYPE html>
<html>
  <head>
    <title>Moirée</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="turbo-refresh-method" content="morph">
  </head>

  <body class="relative bg-slate-50">
    <div id="flash" class="fixed bottom-5 left-[50%] -translate-x-1/2 flex flex-col items-center gap-2 max-w-full w-max py-4">
      <%= render "layouts/flash" %>
    </div>

    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
