<% content_for :content do %>
  <main>
    <header class="flex justify-between items-center w-full px-4 pt-4 backdrop-blur-md bg-white">
      <div>
        <nav>
          <ul class="flex text-xs font-medium">
            <li class="mr-1 text-indigo-700"><%= link_to "Festivals", admin_festivals_path %></li>
            <li class="mr-1">/</li>
            <li class=""><%= @festival.name %></li>
          </ul>
        </nav>
        <h1 class="text-2xl font-bold"><%= @edition.code %></h1>
      </div>
      <% if policy(@edition).edit? %>
        <%= link_to "Edit", edit_admin_festival_edition_path(@festival, @edition), data: { turbo_frame: "modal", controller: "modal", action: "modal#show", "modal-dialog-param": "global-modal" }, class: "bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-1 px-2 rounded text-sm" %>
      <% end %>
    </header>
    <nav>
      <ul class="flex bg-white text-slate-500 px-4 font-medium ">
        <li class="py-2 mr-4 align-middle text-center hover:text-indigo-700 hover:border-b-indigo-700 hover:border-b-2 <%= "text-indigo-700 border-b-indigo-700 border-b-2" if controller_name == "editions" || controller_name == "films" %>">
          <%= link_to "Films", admin_festival_edition_path(@festival, @edition), class: "inline-block" %>
        </li>
        <li class="py-2 mr-4 align-middle text-center hover:text-indigo-700 hover:border-b-indigo-700 hover:border-b-2 <%= "text-indigo-700 border-b-indigo-700 border-b-2" if controller_name == "ratings" %>">
          <%= link_to "Ratings", edition_path(@edition), class: "inline-block" %>
        </li>
        <% if policy(Category).update? %>
          <li class="py-2 mr-4 align-middle text-center hover:text-indigo-700 hover:border-b-indigo-700 hover:border-b-2 <%= "text-indigo-700 border-b-indigo-700 border-b-2" if controller_name == "categories" %>">
            <%= link_to "Categories", admin_festival_edition_categories_path(@festival, @edition), class: "inline-block" %>
          </li>
        <% end %>
        <% if policy(Attendance).update? %>
          <li class="py-2 mr-4 align-middle text-center hover:text-indigo-700 hover:border-b-indigo-700 hover:border-b-2 <%= "text-indigo-700 border-b-indigo-700 border-b-2" if controller_name == "attendances" %>">
            <%= link_to "Critics", admin_festival_edition_attendances_path(@festival, @edition), class: "inline-block" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <section class="md:min-h-[calc(100vh-9.25rem)]">
      <turbo-frame id="edition-detail">
        <%= yield %>
      </turbo-frame>
    </section>
  </main>
<% end %>

<%= render template: "layouts/admin" %>
